<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">

    <test name="TryingEpamSiteFirstTest">

        <!--"browser", "pathToDriver" Use one of parameters' set ro run
        test with browser of your choice. Don't forgot to make change to proper driver's directory!

        ATTENTION: Currently working for only for chrome  so your choice:  "chrome" for now!

             ================================================================================
            "chrome", "D:\PersonalDrivers\chromedriver.exe"
            <parameter name="browser"  value="chrome"/>
            <parameter name="pathToDriver"  value="D:\PersonalDrivers\chromedriver.exe"/>


        -->

        <parameter name="browser"  value="opera"/>
        <parameter name="pathToDriver"  value="D:\PersonalDrivers\operadriver.exe"/>
        <classes>

            <class name= "lesson3.homework.TryingCapabilitiesTest" />
        </classes>
    </test>


</suite>